@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    
   list-style-type: none; 
}

.container{
    width: 70%;
    margin: auto;
    background-color: #000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 50px 0px;
}



@media only screen  and (max-width: 499px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width: 500px) and (max-width: 850px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

}
